.caroImg {
  width: 100%;
  height: 100vh;
  background: url("../assets/Sild1.JPG") top center;
  background-size: cover;
}

.caroImg2 {
  width: 100%;
  height: 100vh;
  background: url("../assets/Sild2.JPG") top center;
  background-size: cover;
}

.caroImg3 {
  width: 100%;
  height: 100vh;
  background: url("../assets/Sild3.JPG") top center;
  background-size: cover;
}

.caroImg4 {
  width: 100%;
  height: 100vh;
  background: url("../assets/Sild4.JPG") top center;
  background-size: cover;
}

.container2 {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin-top: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container3 {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.cardSha {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.headCouTxt {
  font-weight: 600;
  font-size: 90px;
  color: #fff;
  text-align: left;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
}

.spanCou {
  font-weight: 600;
  font-size: 50px;
  display: block;
  color: #d2b55b;
}

.logoImg {
  position: relative;
  bottom: 400px;
  left: 25%;
}

.navBarSty {
  width: 100%;
  position: relative;
  z-index: 1000;
  text-align: center;
  border-bottom: 6px solid #d2b55b;
  font-weight: 600;
  position: sticky;
  top: 0;
  opacity: 0.9;
  margin-top: -58px;
}

.navCen {
  max-width: 900px;
}

.carMainCon {
  background: #fff;
  padding: 40px 0px 40px;
  display: table;
  width: 100%;
  position: relative !important;
  z-index: 6;
  overflow: hidden;
}

.carMainCon .carSubCon {
  background: #fff;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.15);
  padding-bottom: 30px;
}

.carSubCon {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
}

.carMainCon .carSubCon .row {
  margin-bottom: 10px;
}

.carHeadCon {
  width: 100%;
  margin-left: 0;
  float: left;
  box-sizing: border-box;
}

@media (min-width: 550px) {
  .carHeadCon {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .carSubCon {
    width: 100%;
    max-width: 500px !important;
    padding: 0 15px !important;
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .carSubCon .carHeadCon .carParCon {
    width: 100% !important;
    max-width: 100%;
    padding: 10px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .carParCon {
    margin-left: 0% !important;
  }
}

.carHeadCon {
  float: left;
  box-sizing: border-box;
}

.carMainCon h3 {
  border: medium none;
  text-transform: uppercase;
  font-size: 23px;
  margin-top: 0 !important;
  font-family: "Times New Roman", Times, serif, cursive;
  font-weight: 300;
}

.carHeadTxt {
  line-height: 30px;
  padding: 6px 20px;
  background: #222;
  display: table;
  margin: 40px auto 0 !important;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}

.carParCon {
  text-align: center;
}

.carMainCon p {
  color: #888;
  font-size: 19px;
  line-height: 30px;
  margin: 15px auto 0;
}

.carParTxt {
  max-width: 69%;
}

.carParLinTxt {
  color: #d2b55b;
  text-decoration: none;
}

.carMainPara {
  background-image: url("../assets/parallax-1.jpg");
  background-position: 50% 154px;
  background-attachment: fixed !important;
  text-align: center;
  width: 100%;
  height: 480px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  border-top: 10px solid rgba(255, 255, 255, 0.3);
  border-bottom: 10px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  position: relative;
  background-size: cover;
}

.carMainPara.carSubPara {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.carMainPara.carSubPara.carQuote {
  display: table-cell;
  vertical-align: middle;
}

.carQuote {
  padding: 100px 0;
}

.carContPara {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
}

.carImgMain {
  width: 100%;
  margin-left: 0;
}

.carimageClip {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 479px) {
  .par4ImgClip {
    margin-top: 211px;
  }
}

#awards + #parallax-2 {
  height: auto !important;
}

.carMainPara2 {
  background-image: url("../assets/parallax-2_1.jpg");
  background-position: 50% 7px;
  background-attachment: fixed !important;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-top: 10px solid rgba(255, 255, 255, 0.3);
  border-bottom: 10px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  position: relative;
  background-size: cover;
}

.carMainPara2 .quoteWrap {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.carMainPara2 .quoteWrap .quote {
  display: table-cell;
  vertical-align: middle;
}

.quote {
  padding: 100px 0;
}

.containerPara2 {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .containerPara2 {
    width: 100%;
    max-width: 500px !important;
    padding: 0 15px !important;
  }
}

.ulPara2 {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
  float: left;
  zoom: 1;
}

.ulPara2 li {
  width: 20%;
  float: left;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .ulPara2 li {
    width: 100%;
    float: none;
  }
}

.statItem {
  position: relative;
  cursor: default;
  padding: 10px;
}

.statInfo {
  overflow: hidden;
}

.statInfo h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  font-size: 55px;
  margin: 0 auto;
  padding: 0px 0 15px 0;
  font-weight: 700;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

.statInfo p {
  color: #fff;
  padding: 10px 5px;
  margin: 0px auto;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 600;
  line-height: 22px;
}

.carMainPara3 {
  background-image: url("../assets/parallax-21.jpg");
  background-position: 50% 66px;
  background-attachment: fixed !important;
  text-align: center;
  width: 100%;
  height: 480px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  border-top: 10px solid rgba(255, 255, 255, 0.3);
  border-bottom: 10px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  position: relative;
  background-size: cover;
}

.carMainPara4 {
  background-image: url("../assets/parallax-3.jpg");
  background-position: 50% -29px;
  background-attachment: fixed !important;
  text-align: center;
  width: 100%;
  height: 480px;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-top: 10px solid rgba(255, 255, 255, 0.3);
  border-bottom: 10px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  position: relative;
  background-size: cover;
}

.carMainPara5 {
  background-image: url("../assets/parallax-4.jpg");
  background-position: 50% 69px;
  background-attachment: fixed !important;
  text-align: center;
  width: 100%;
  height: 480px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  border-top: 10px solid rgba(255, 255, 255, 0.3);
  border-bottom: 10px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  position: relative;
  background-size: cover;
}

.parallax5Head {
  font-size: 22px;
  line-height: 1;
  color: #555;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 6px;
}

.carMainPara5 h3 span {
  text-shadow: 0px 0px 5px #222;
  color: #fff;
}

@media only screen and (max-width: 959px) {
  .carMainPara5 h3 span {
    display: block;
  }
}

.large {
  font-size: 56px;
  text-transform: uppercase;
}

@media only screen and (max-width: 959px) {
  .large {
    font-size: 50px;
    text-transform: uppercase;
  }
}

.largeBold {
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 959px) {
  .largeBold {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.carMainPara6 {
  background-image: url("../assets/parallax-5.jpg");
  background-position: 50% 69px;
  background-attachment: fixed !important;
  text-align: center;
  width: 100%;
  height: 480px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  border-top: 10px solid rgba(255, 255, 255, 0.3);
  border-bottom: 10px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  position: relative;
  background-size: cover;
}

.parallax6Head {
  font-size: 22px;
  line-height: 1;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 6px;
}

.parallax6Head h3 span {
  text-shadow: 0px 0px 5px #222;
  color: #fff;
}

.medium {
  font-size: 37px;
  text-transform: uppercase;
}

.mediumBold {
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase;
}

#btnBackToTop {
  display: none;
  background: #404040;
  border-radius: 7px 7px 0 0;
  bottom: 0px;
  color: #fff;
  display: block;
  opacity: 0.75;
  padding: 11px 0;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  width: 49px;
  z-index: 1040;
  border: none;
  font-size: 14px;
}

#btnBackToTop:hover {
  background-color: #404040;
  opacity: 1;
  color: #fff;
}

#floating-whatsapp {
  position: fixed;
  bottom: 53px;
  right: 13px;
  background-color: #25d366;
  opacity: 0.75;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1040;
  text-decoration: none;
}

#floating-whatsapp:hover {
  background-color: #25d366;
  opacity: 1;
  color: #fff;
  border: 1px solid #39ff14;
  box-shadow: 0 2px 10px #39ff14;
}
