#contact {
  position: relative !important;
  z-index: 6;
  background: #fff;
  background-attachment: scroll;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.contactAdd {
  text-align: center;
}

.contactAdd p {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 22px;
  color: #666;
}

.contactSpan {
  color: #d2b55b;
}

.contactFormCon h2 {
  font-size: 33px;
  margin: 0 0 20px;
  text-transform: uppercase;
  position: relative;
  font-weight: 300;
  color: #222;
  text-align: center;
}

.contactInput {
  background: #f4ecd4;
  border: medium none;
}

.contactInput:focus {
  background: #f4ecd4;
  border: medium none;
  box-shadow: none;
}

.contactBtnSty {
  width: 100%;
  padding: 10px;
  background: #d2b55b;
  color: white;
  border: none;
}

.contactBtnSty:hover {
  color: #222;
  background: #ddd !important;
}
