#promotions {
  position: relative !important;
  z-index: 6;
  background: #fff;
  background-attachment: scroll;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.accordion-button {
  font-size: 18px;
  letter-spacing: 1px;
}

.accordion-button:not(.collapsed) {
  border: none;
  border-bottom: 3px solid #d2b55b;
  background-color: #f1e9d2;
}

.accordion-button:focus {
  box-shadow: none;
}

.accImage {
  display: table-cell;
  vertical-align: middle;
}

.accImageInner {
  border-radius: 200px;
  border: 3px solid #d2b55b;
  padding: 2px;
  width: 94%;
}

.accImage img {
  border-radius: 200px;
  display: block;
}

img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

.accTitle,
.accText {
  width: 35%;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.accTitle h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  text-transform: uppercase;
  position: relative;
  top: 30px;
  color: #d2b55b;
  font-family: "Montserrat", sans-serif;
}

.accText p {
  margin: 10px 0px 10px 5%;
  font-size: 15px;
  line-height: 24px;
  position: relative;
  top: 17px;
}

.sercardPromo {
  border: none;
}
